/* header.css */

/* Base styles for the header */
.site-header {
  background-color: white; /* Dark blue background color */
  color: black; /* White text color */
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Space between the hamburger and navigation */
  align-items: center;
  

}

/* Navigation menu styling */
.site-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-header nav ul li {
  margin-right: 20px;
  padding: 0 17px;
}

.site-header nav ul li a {
  text-decoration: none;
  color: black;
}

/* Hamburger menu styling */
.hamburger-menu {
  cursor: pointer;
  display: none; /* Hidden by default, will be shown on smaller screens */
}

.hamburger-menu.is-active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.is-active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.donate{
  background: #C73938;
    color: #ffffff;
  text-decoration: none;
    padding: 8px 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
   
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .hamburger-menu {
    margin-top: 4%;
    display: block; /* Show the hamburger menu on smaller screens */
        z-index: 1000;
  }

  .site-header{
    justify-content: space-around;
    background-color: #002663;
  }
/* Simplified version of navigation menu styles without using display property */
.site-header nav ul {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #002663;
}

.site-header.open nav ul {
  display: flex;
}

.site-header nav ul li {
  margin-right: 0;
  padding: 10px 20px;
  text-align: center;
  /* Additional styles as needed */
}

  .site-header nav ul li {
    margin-right: 0;
    padding: 10px 20px;
    text-align: center;
  }
}
